<div class="container specborder">
	<h1>Edit User</h1>
	<div class="err msg">
		<% if @user.errors.any? %>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%=msg%></li>
			<%end%>
		</ul>
		<%end%>
	</div>
	<%= form_for @user, :html => {:class => 'form' } do |f| %>
	<div class="form-group">
		<label>name</label>
		<%=f.text_field :name, :class => 'form-control'%>
	</div>
	<div class="form-group">
		<label>email</label>
		<%=f.text_field :email, :class => 'form-control'%>
	</div>
	<div class="form-group">
		<label>Status</label>
		<%=f.select(:level, [['Employee'], ['Manager']], {}, { :class => 'btn btn-primary btn-sm' })%>
	</div>
	<br>
	<div class="actions">
		<%=f.submit "Edit User", :class => "btn btn-primary btn-sm"%>
	</div>
	<%end%>
</div>