<div class="container specborder">
	<h1>New User</h1>
	<div class="err msg">
		<% if @user.errors.any? %>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%=msg%></li>
			<%end%>
		</ul>
		<%end%>
	</div>
	<%= form_for @user, :html => {:class => 'form' } do |f| %>
	<div class="form-group">
		<label>Name</label>
		<%=f.text_field :name, :class => 'form-control'%>
	</div>
	<div class="form-group">
		<label>Email</label>
		<%=f.email_field :email, :class => 'form-control'%>
	</div>
	<div class="form-group">
		<label>Password</label>
		<%=f.password_field :password, :class => 'form-control'%>
	</div>
	<div class="form-group">
		<label>Password Confirmation</label>
		<%=f.password_field :password_confirmation, :class => 'form-control'%>
	</div>
	<div class="form-group">
		<label>Status</label>
		<%=f.select(:level, [['Employee'], ['Manager']], {}, { :class => 'btn btn-primary btn-sm' })%>
	</div>
	<br>
	<div class="actions">
		<%=f.submit "Add User", :class => "btn btn-primary btn-sm"%>
	</div>
	<%end%>
</div>