<div class="container">

	<div class="help-text">
		<p>To change the amount, click on the edit button. This will bring you to a screen to edit the name, amount or price of an item. Click on the column names Item name, amount, or price to order the table.
		</p>
	</div>
	<br />
	<br />
	<%= form_tag items_path, :method => 'get', :id => "items_search" do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil, :class => 'btn btn-default' %>
	</p>
	<% end %>
	<h1>Items List</h1>
	<div id="items"><%= render 'items'%> </div>
	<%= will_paginate @items %>
</div>